/* ==========================================================================
   Defaults
   ========================================================================== */

body {
  padding-bottom: 30px;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}
