/* ==========================================================================
   Teacher Micro
   ========================================================================== */

.teacher-micro {
  img {
    height: auto;
    max-width: none;
    width: 40px;
  }
  .media-heading {
    font-size: 100%;

    a {
      color: #222;
    }
  }
}
