<div ng-include="'_navigation.html'"></div>

<div class="container">
  <div class="page-header">
    <h1>Class Periods</h1>
  </div>
  <div class="row">
    <div ng-repeat="period in periods" class="col-xs-12 col-sm-6 col-md-4">
      <a ui-sref="class.detail({id: period.id})">
        <h2>{{ period.title }}</h2>
        <p>Period <strong>{{ period.period }}</strong></p>
        <p>Room: <strong>{{ period.room }}</strong></p>

        <div class="media">
          <img ng-src="{{ period.teacher.avatar }}" class="media-object img-rounded">
          <div class="media-body">
            <h4 class="media-heading">{{ period.teacher.first_name + ' ' + period.teacher.last_name }}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><!-- .container -->