<div ng-include="'_navigation.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img ng-src="{{ user.avatar }}">
      <h2>{{ user.first_name + ' ' + user.last_name }}</h2>
      <h5>{{ user.role }}</h5>
      <a href="{{ user.email }}">
        <span class="glyphicon glyphicon-envelope"></span>
        <strong>{{ user.email }}</strong>
      </a>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="clearfix">
          <a href="#" class="btn btn-default pull-left">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Previous
          </a>
          <a href="#" class="btn btn-default pull-right">
              Next
              <span class="glyphicon glyphicon-arrow-right"></span>
          </a>
      </div>

      <div ng-repeat="course in courses">
        <a ui-sref="class.detail({id: course.id })">
          <h2>{{ course.title }}</h2>
          <p>Period: <strong>{{ course.period }}</strong>
          <p>Course ID: <strong>{{ course.course_id }}</strong></p>
          <p>Room: <strong>{{ course.room }}</strong></p>
        </a>
      </div>
    </div>
  </div>
</div>
