<div ng-include="'_navigation.html'"></div>

<div class="container">
  <div class="page-header">
    <h1>Users</h1>
  </div>

  <div class="row">
    <div ng-repeat="user in users" class="user col-xs-6 col-sm-4 col-md-3">
      <a ui-sref="student({id: user.id })">
        <img ng-src="{{ user.avatar }}">
        <div class="user__content">
          <h4 class="user__name">{{ user.first_name + ' ' + user.last_name }}</h4>
          <p class="user__role">{{ user.role }}</p>
        </div>
      </a>
    </div>
  </div>
</div><!-- .container -->