<div ng-include="'_navigation.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img ng-src="{{ user.avatar }}">
      <h2>{{ user.first_name + ' ' + user.last_name }}</h2>
      <h5>{{ user.role }}</h5>
      <a href="{{ user.email }}">
        <span class="glyphicon glyphicon-envelope"></span>
        <strong>{{ user.email }}</strong>
      </a>
    </div>
    <div ng-if="user.role == 'student'" class="col-xs-12 col-sm-8">
      <h2>Classes</h2>

      <div ng-repeat="course in courses" class="row">
        <div class="col-xs-12 col-sm-6">
          <a ui-sref="class.detail({id: course.id })">
            <h3>{{ course.title }}</h3>
            <ul class="list-unstyled">
              <li>Period: <strong>{{ course.period }}</strong></li>
              <li>Room: <strong>{{ course.room }}</strong></li>
            </ul>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="/img/graph-2.png">
        </div>
      </div>
    </div>
  </div>
</div>
