<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="attendance">
    <div ui-view></div>

    <%= yield %>

  </body>
</html>